---
import type { CollectionEntry } from 'astro:content'

import { ArrowRight } from '@lucide/astro'

import { calculateReadingTime } from '../utils/readingTime'

import FormattedDate from './FormattedDate.astro'

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props

const { data, body } = post

const { slug, title, description, updatedDate } = data

const readingTime = calculateReadingTime(body ?? '')
---

<a href={`/blog/${slug}`} class="block">
  <article
    class="group flex items-start justify-between gap-8 p-6 transition-colors hover:bg-gray-50"
  >
    <FormattedDate
      date={updatedDate}
      class="min-w-25 pt-1 text-sm whitespace-nowrap text-gray-500"
    />

    <div class="flex-1 space-y-2">
      <h2 class="text-xl font-medium transition-colors group-hover:text-gray-600">
        {title}
      </h2>

      <p class="text-sm text-gray-600">{description}</p>

      <div class="inline-flex items-center gap-2 text-gray-700">
        <span>Read article</span>

        <ArrowRight class="size-5 transition-transform group-hover:translate-x-1" />
      </div>
    </div>

    <div class="hidden pt-1 text-sm whitespace-nowrap text-gray-500 sm:block">
      {readingTime} min read
    </div>
  </article>
</a>
