---
import { type CollectionEntry } from 'astro:content'

import ComponentCard from './ComponentCard.astro'

interface Props {
  title: string
  description: string
  slug: string
  components: (
    | CollectionEntry<'application'>['data']
    | CollectionEntry<'marketing'>['data']
    | CollectionEntry<'neobrutalism'>['data']
  )[]
}

const { title, description, slug, components } = Astro.props
---

<section class="py-16">
  <h2 class="text-3xl font-medium">{title}</h2>

  <p class="mt-2 text-gray-600">{description}</p>

  <ul aria-label={title} class="mt-12 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    {components.map((component) => <ComponentCard component={component} />)}
  </ul>

  <a href={`/components/${slug}`} class="group mt-8 inline-flex items-center gap-2 text-gray-700">
    <span>View all {slug} components</span>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="size-5 transition-transform group-hover:translate-x-1"
    >
      <path
        fill-rule="evenodd"
        d="M3 10a.75.75 0 0 1 .75-.75h10.638L10.23 5.29a.75.75 0 1 1 1.04-1.08l5.5 5.25a.75.75 0 0 1 0 1.08l-5.5 5.25a.75.75 0 1 1-1.04-1.08l4.158-3.96H3.75A.75.75 0 0 1 3 10Z"
        clip-rule="evenodd"></path>
    </svg>
  </a>
</section>
