---
interface Props {
  src: string
  title: string
  dark?: boolean
  index?: number
  wrapper?: string
}

const { src, title, dark = false, index = 1, wrapper = '' } = Astro.props
---

<component-preview data-src={src} class="block">
  <iframe
    data-preview="true"
    src={src}
    title={title}
    class:list={[
      wrapper,
      dark ? 'bg-gray-900' : 'bg-white',
      'w-full rounded-xl shadow-sm ring ring-stone-300 transition-[max-width] duration-300 data-[preview=false]:hidden data-[preview=true]:block',
    ]}
    style="max-width: 100%;"
    loading={index === 1 && !dark ? 'eager' : 'lazy'}></iframe>

  <div
    data-preview="true"
    class="prose prose-pre:m-0 prose-pre:rounded-xl prose-pre:shadow-sm max-w-none data-[preview=true]:hidden"
  >
    <pre data-html></pre>
  </div>
</component-preview>

<script>
  class ComponentPreview extends HTMLElement {
    private contentSrc: string | null = null
    private contentHtml: string | null = null

    private iframeEl: HTMLIFrameElement | null = null
    private previewEl: HTMLPreElement | null = null

    private breakpointHandler: ((breakpointEvent: Event) => void) | null = null
    private viewHandler: ((viewEvent: Event) => void) | null = null
    private directionHandler: ((directionEvent: Event) => void) | null = null
    private copyHandler: (() => void) | null = null

    connectedCallback() {
      this.contentSrc = this.dataset.src || null

      if (!this.contentSrc) {
        return
      }

      this.iframeEl = this.querySelector('iframe') as HTMLIFrameElement | null
      this.previewEl = this.querySelector('[data-html]') as HTMLPreElement | null

      if (!this.iframeEl || !this.previewEl) {
        return
      }

      this.setupHtml()

      this.setupEventListeners()
    }

    disconnectedCallback() {
      if (
        this.contentSrc &&
        this.breakpointHandler &&
        this.viewHandler &&
        this.directionHandler &&
        this.copyHandler
      ) {
        document.removeEventListener(`breakpoint:change:${this.contentSrc}`, this.breakpointHandler)
        document.removeEventListener(`preview:view:${this.contentSrc}`, this.viewHandler)
        document.removeEventListener(`preview:direction:${this.contentSrc}`, this.directionHandler)
        document.removeEventListener(`preview:copy:${this.contentSrc}`, this.copyHandler)
      }
    }

    private setupEventListeners() {
      this.breakpointHandler = (breakpointEvent: Event) => {
        const newWidth = (breakpointEvent as CustomEvent).detail.width

        if (this.iframeEl) {
          this.iframeEl.style.maxWidth = newWidth
        }
      }

      this.viewHandler = (viewEvent: Event) => {
        const isPreviewing = (viewEvent as CustomEvent).detail.previewing

        const previewEls = this.querySelectorAll('[data-preview]')

        previewEls.forEach((previewEl) => {
          previewEl.setAttribute('data-preview', isPreviewing ? 'true' : 'false')
        })
      }

      this.directionHandler = (directionEvent: Event) => {
        const isLtr = (directionEvent as CustomEvent).detail.ltr

        if (this.iframeEl?.contentDocument) {
          this.iframeEl.contentDocument.documentElement.setAttribute('dir', isLtr ? 'ltr' : 'rtl')
        }
      }

      this.copyHandler = () => {
        if (this.contentHtml) {
          navigator.clipboard.writeText(this.contentHtml)
        }
      }

      if (this.contentSrc) {
        document.addEventListener(`breakpoint:change:${this.contentSrc}`, this.breakpointHandler)
        document.addEventListener(`preview:view:${this.contentSrc}`, this.viewHandler)
        document.addEventListener(`preview:direction:${this.contentSrc}`, this.directionHandler)
        document.addEventListener(`preview:copy:${this.contentSrc}`, this.copyHandler)
      }
    }

    private setupHtml() {
      if (this.iframeEl?.contentDocument) {
        const docClone = this.iframeEl.contentDocument.cloneNode(true) as Document

        this.contentHtml = this.sanitizeContent((docClone as Document).body.innerHTML)
        if (this.previewEl) {
          this.previewEl.innerText = this.contentHtml
        }
      }
    }

    private sanitizeContent(contentHtml: string): string {
      return contentHtml
        .split('\n')
        .map((htmlLine) => htmlLine.replace(/^\s{4}/, ''))
        .join('\n')
        .trim()
    }
  }

  customElements.define('component-preview', ComponentPreview)
</script>
