---
interface Result {
  category: string
  slug: string
  terms: string[]
  title: string
}

interface Props {
  collections: Result[]
  posts: Result[]
}

const { collections, posts } = Astro.props
---

<search-results data-collections={JSON.stringify(collections)} data-posts={JSON.stringify(posts)}>
  <div
    data-container="false"
    class="absolute top-full right-0 mt-2 w-screen max-w-72 rounded-lg border border-gray-200 bg-white py-1 shadow-lg data-[container=false]:hidden data-[container=true]:block"
  >
    <p data-error="false" class="px-4 py-2 text-gray-700 data-[error=false]:hidden">
      No results found.
    </p>

    <ul data-list role="listbox" class="max-h-72 divide-y divide-gray-200 overflow-y-auto"></ul>
  </div>

  <span data-status aria-live="polite" class="sr-only"></span>
</search-results>

<script>
  interface Result {
    category: string
    slug: string
    terms: string[]
    title: string
  }

  class SearchResults extends HTMLElement {
    private collectionItems: Result[] = []
    private postItems: Result[] = []

    private searchResults: Result[] = []

    private enterHandler: (() => void) | null = null
    private escapeHandler: (() => void) | null = null
    private searchHandler: ((searchEvent: Event) => void) | null = null

    connectedCallback() {
      const containerEl = this.querySelector('[data-container]') as HTMLDivElement | null
      const errorEl = this.querySelector('[data-error]') as HTMLParagraphElement | null
      const resultsEl = this.querySelector('[data-list]') as HTMLUListElement | null
      const statusEl = this.querySelector('[data-status]') as HTMLSpanElement | null

      if (!containerEl || !errorEl || !resultsEl || !statusEl) {
        return
      }

      try {
        this.collectionItems = JSON.parse(this.dataset.collections || '[]')
        this.postItems = JSON.parse(this.dataset.posts || '[]')
      } catch {
        return
      }

      this.enterHandler = () => {
        if (this.searchResults.length !== 1) {
          return
        }

        const [searchResult] = this.searchResults

        const returnUrl = new URL(searchResult.slug, globalThis.location.href)

        globalThis.location.href = returnUrl.toString()
      }

      this.escapeHandler = () => {
        this.searchResults = []

        resultsEl.innerHTML = ''

        containerEl.setAttribute('data-container', 'false')
        errorEl.setAttribute('data-error', 'false')
      }

      this.searchHandler = (searchEvent: Event) => {
        const searchQuery = (searchEvent as CustomEvent).detail.value.toLowerCase()

        if (!searchQuery) {
          this.searchResults = []

          resultsEl.innerHTML = ''

          containerEl.setAttribute('data-container', 'false')
          errorEl.setAttribute('data-error', 'false')

          return
        }

        containerEl.setAttribute('data-container', 'true')

        const searchResults = [...this.collectionItems, ...this.postItems].filter(
          (potentialResult) => {
            const resultTerms = potentialResult.terms.map((searchTerm) => searchTerm.toLowerCase())
            const resultTitle = potentialResult.title.toLowerCase()

            return (
              resultTerms.some((resultTerm) => resultTerm.includes(searchQuery)) ||
              resultTitle.includes(searchQuery)
            )
          },
        )

        if (searchResults.length === 0) {
          this.searchResults = []

          resultsEl.innerHTML = ''
          statusEl.textContent = 'No results found'

          errorEl.setAttribute('data-error', 'true')

          return
        }

        this.searchResults = searchResults

        statusEl.textContent = `${searchResults.length} ${searchResults.length === 1 ? 'result' : 'results'} found`

        resultsEl.innerHTML = searchResults
          .map(({ category, slug, title }) => {
            return `
              <li role="option">
                <a
                  href="${slug}"
                  class="flex items-center group justify-between gap-4 px-4 py-2  focus:ring-inset"
                >
                  <div>
                    <h3 class="font-medium text-gray-900">${title}</h3>

                    ${category ? `<p class="text-sm text-gray-600 capitalize">${category}</p>` : ''}
                  </div>

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="size-5 text-gray-400 opacity-0 transition group-hover:translate-x-1 group-hover:opacity-100"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M3 10a.75.75 0 0 1 .75-.75h10.638L10.23 5.29a.75.75 0 1 1 1.04-1.08l5.5 5.25a.75.75 0 0 1 0 1.08l-5.5 5.25a.75.75 0 1 1-1.04-1.08l4.158-3.96H3.75A.75.75 0 0 1 3 10Z"
                      clip-rule="evenodd"></path>
                  </svg>
                </a>
              </li>
            `
          })
          .join('')

        errorEl.setAttribute('data-error', 'false')
      }

      document.addEventListener('input:enter', this.enterHandler)
      document.addEventListener('input:escape', this.escapeHandler)
      document.addEventListener('input:search', this.searchHandler)
    }

    disconnectedCallback() {
      if (this.enterHandler && this.escapeHandler && this.searchHandler) {
        document.removeEventListener('input:enter', this.enterHandler)
        document.removeEventListener('input:escape', this.escapeHandler)
        document.removeEventListener('input:search', this.searchHandler)

        this.enterHandler = null
        this.escapeHandler = null
        this.searchHandler = null
      }

      this.collectionItems = []
      this.postItems = []
    }
  }

  customElements.define('search-results', SearchResults)
</script>
