---
import { getCollection } from 'astro:content'

import SearchInput from './SearchInput.astro'
import SearchResults from './SearchResults.astro'

const collections = (await getCollection('collection')).map(({ data }) => {
  return {
    title: data.title,
    emoji: data.emoji,
    terms: data.terms,
    slug: `/components/${data.category}/${data.slug}`,
  }
})

const posts = (await getCollection('blog')).map(({ data }) => {
  return {
    title: data.title,
    emoji: data.emoji,
    terms: data.terms,
    slug: `/blog/${data.slug}`,
  }
})
---

<div class="relative hidden md:block">
  <SearchInput />
  <SearchResults collections={collections} posts={posts} />
</div>
