---
import { getCollection } from 'astro:content'

import SearchManager from './SearchManager.astro'

const collections = (await getCollection('collection')).map((component) => {
  return {
    title: component.data.title,
    emoji: component.data.emoji,
    terms: component.data.terms,
    slug: `/components/${component.data.category}/${component.data.slug}`,
  }
})

const posts = (await getCollection('blog')).map((post) => {
  return {
    title: post.data.title,
    emoji: post.data.emoji,
    slug: `/blog/${post.data.slug}`,
  }
})
---

<div class="hidden md:block">
  <SearchManager collections={collections} posts={posts} />
</div>
