---
import type { CollectionEntry } from 'astro:content'

import BaseLayout from './BaseLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { description, pubDate, title, updatedDate } = Astro.props
---

<BaseLayout description={description} title={title}>
  <script
    slot="head"
    type="application/ld+json"
    set:html={JSON.stringify({
      '@context': 'https://schema.org',
      '@type': 'BlogPosting',
      headline: title,
      description: description,
      url: Astro.url,
      datePublished: pubDate,
      dateModified: updatedDate,
      author: {
        '@type': 'Person',
        name: 'HyperUI',
      },
    })}
  />

  <main class="mx-auto max-w-7xl px-4 py-8">
    <article class="prose mx-auto">
      <h1>{title}</h1>

      <p class="flex flex-col gap-2 sm:flex-row sm:items-center">
        <span>
          Published: <FormattedDate date={pubDate} />
        </span>

        <span class="hidden sm:block">/</span>

        {
          updatedDate && (
            <span>
              Updated: <FormattedDate date={updatedDate} />
            </span>
          )
        }
      </p>

      <slot />
    </article>
  </main>
</BaseLayout>
