---
import type { CollectionEntry } from 'astro:content'

import BaseLayout from './BaseLayout.astro'
import PreviewWrapper from '../components/PreviewWrapper.astro'

type Props = (
  | CollectionEntry<'application'>['data']
  | CollectionEntry<'marketing'>['data']
  | CollectionEntry<'neobrutalism'>['data']
) & {
  heading: string
}

const { category, components, description, slug, wrapper, heading } = Astro.props

const pageTitle = `Free Tailwind CSS ${heading} | HyperUI`

const formattedComponents = components
  .map((component, index) => {
    const { dark, ...rest } = component

    const baseComponent = {
      ...rest,
      dark: false,
      id: `component-${index + 1}`,
      index: index + 1,
    }

    if (!dark) {
      return [baseComponent]
    }

    const contributors =
      Object.prototype.toString.call(dark) === '[object Object]'
        ? // @ts-expect-error We know dark is an object at this point.
          dark.contributors
        : component.contributors

    return [
      baseComponent,
      {
        ...rest,
        contributors,
        dark: true,
        id: `component-${index + 1}-dark`,
        index: index + 1,
        title: `${component.title} (Dark)`,
      },
    ]
  })
  .flat()
---

<BaseLayout description={description} title={pageTitle}>
  <main id="main-content" class="mx-auto max-w-7xl space-y-8 px-4">
    <slot />

    <div class="space-y-8">
      {
        formattedComponents.map(({ contributors, dark, id, index, plugins, title }) => (
          <PreviewWrapper
            id={id}
            category={category}
            contributors={contributors}
            dark={dark}
            index={index}
            plugins={plugins}
            slug={slug}
            title={title}
            wrapper={wrapper}
          />
        ))
      }
    </div>
  </main>
</BaseLayout>
